
body{
  margin: 0;
  padding: 0;
  background: url(../img/fondos/fondo-person.jpg);
  background-size: cover;
  font-family: sans-serif;
  /* DISPLAY*/
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header{
  background-color: #4285C3;
  height: 100px;
  /*margin-left: 30px;
  margin-right: 30px;*/
  display:flex;
  justify-content: space-between;
  align-items: flex-end;
  /*extra*/
    flex-wrap: wrap;
}

input{
  margin-bottom: 7px;
  margin-right: 5px;
  box-shadow: 0px 3px 2px black;
}
nav{
  background-color: #174B98;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
}

.logotipo{
  margin-left:5px;
  margin-bottom: 7px;
  margin-top: 7px;
}

.button{
background-color: #5184AD;
text-decoration: none;
color: black;
display: inline-block;
font-size: 25px;
font-family: fantasy;
margin: 4px;
padding: 2px;
text-align: center;
width: 28vh;
box-shadow: 0px 3px 2px black;
position: relative;
}

.button:before{
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: #ff0000;/*rgb(0, 180, 216);*/
  bottom: 0;
  left: 0.25%;
  transition: all .3s;
  position: absolute;
/*  border-radius: 50%;*/
}
/*.button:hover::before*/
.button:hover:before{
width: 99.5%;
}

.titulo{
  background-color: #44A2EC;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 10px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2{
  padding: 5px;
  margin: 5px;
  color: white;
}
main{
  margin-left: 30px;
  margin-right: 30px;
  display: flex;

}
.categorias{
  display: flex;
  justify-content: center;
}

  .info{
    padding: 6px;
    display:flex;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
  }



  ul{
    list-style: none;
    color: white;
    margin:0;
  }

  li{
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 0:


  }
 li a{
     color: white;
      width: 20px;
     margin-right:0;
 }


  .portadas{
  width: 250px;
  height: 250px;
  }

  figcaption{
    background-color: #608EB1;
    font-size: 18px;
    text-align: center;
    width: 250px;
  }

  .info{
  /*  background-color: #608EB1;*/
    border:2px #0662AF solid;
    margin: 5px;
    width: 50%;
  }
  p{
    font-size: 18px;
    font-family: sans-serif;
    margin: 5px;
    color: white;
  }
  .trailer{
    background-color:#4285C3;
    height: 15vh;
    margin-bottom: 12px;
    margin-top: 12px;
    box-shadow: 0px 3px 2px black;
    width: 330px;
    height: 30px;
    display: flex;
    justify-content: center;
   align-items: flex-end;

  }
footer{
  background-color: #4285C3;
  height: 240px;
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  align-items: center;
  justify-content:center;
  display: block;
}

.texto{
  margin:3px; auto;
  height: 390px;
}
h3{
  color: white;
  background-color: black;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  padding-right: 7px;
}
.logo-footer{
  display: flex;
  justify-content: center;
  margin-left:5px;
  margin-bottom: 7px;
  margin-top: 7px;
}
.redes-footer{
  display: flex;
  justify-content: center;
}

.iconos{
  margin: 3px;
}
.email{
  display: flex;
  justify-content: center;
}
a{
  text-decoration: none;
  font-size: 20px;
  color: black;
}
