<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MOVIE.COM</title>
    <link rel="stylesheet" href="../CSS/potreroDigital_proyecto_grupo6_indice.css">
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="../img/logotipo/Logo.png" alt="" width="200">
      </div>

      <form>
         <input type="text" style="width:200px; height: 25px;" name="" placeholder="Buscar">
      </form>

      </header>

      <nav class="menu">

        <a href="potreroDigital_proyecto_grupo6_formulario.html" class="button"> Registrarse </a>
        <a href="potreroDigital_proyecto_grupo6_ingreso.html" class= "button">  Ingresar </a>
        <a href="potreroDigital_proyecto_grupo6_indice.html" class="button"> Índice </a>
        <a href= "potreroDigital_proyecto_grupo6_generos.html" class= "button"> Géneros </a>
        <a href= "potreroDigital_proyecto_grupo6_estrenos.html" class="button"> Estrenos  </a>

      </nav>
      <div class="titulo">
        <h1> ÍNDICE</h1>
      </div>

      <div class="indice">
        <ul class="division">
          <li><a href="#">A</a></li>
          <ul class="submenu">
            <li><a href="#">Amores Canibales</a></li>
            <li><a href="#">A dos metros sobre ti</a></li>
            <li><a href="#">Apostol</a></li>
            <li><a href="#">Ver mas...</a></li>
          </ul>
        </ul>

        <ul class="division">
          <li><a href="#">B</a></li>
          <ul class="submenu">
            <li><a href="#">Batman Ninja</a></li>
            <li><a href="#">Buscando justicia</a></li>
            <li><a href="#">Bessie</a></li>
            <li><a href="#">Ver mas...</a></li>
          </ul>
        </ul>

        <ul class="division">
          <li><a href="#">C</a></li>
          <ul class="submenu">
            <li><a href="#">Corazones de acero</a></li>
            <li><a href="#">Cincuenta sombras de Grey</a></li>
            <li><a href="#">Cuernos</a></li>
            <li><a href="#">Ver mas...</a></li>
          </ul>
        </ul>

        <ul class="division">
          <li><a href="#">D</a></li>
          <ul class="submenu">
            <li><a href="#">Divergente</a></li>
            <li><a href="#">Drácula</a></li>
            <li><a href="#">Doom</a></li>
            <li><a href="#">Ver mas...</a></li>
          </ul>
        </ul>


        <ul class="division">
          <li><a href="#">E</a></li>
          <ul class="submenu">
            <li><a href="#">El rey de la polca</a></li>
            <li><a href="#">El amor es extraño</a></li>
            <li><a href="#">El sobreviviente</a></li>
            <li><a href="#">Ver mas...</a></li>
          </ul>
        </ul>


        <ul class="division">
          <li><a href="#">F</a></li>
          <ul class="submenu">
            <li><a href="#">Frozen</a></li>
            <li><a href="#">Fractura</a></li>
            <li><a href="#">Freaks</a></li>
            <li><a href="#">Ver mas...</a></li>
          </ul>
        </ul>

        <ul class="division">
          <li><a href="#">G</a></li>
          <ul class="submenu">
            <li><a href="#">Green room</a></li>
            <li><a href="#">Guerra mundial z</a></li>
            <li><a href="#">Gravedad</a></li>
            <li><a href="#">Ver mas...</a></li>
          </ul>
        </ul>

        <ul class="division">
          <li><a href="#">H</a></li>
          <ul class="submenu">
            <li><a href="#">Honey</a></li>
            <li><a href="#">Harry Potter 1</a></li>
            <li><a href="#">Hermosas criaturas</a></li>
            <li><a href="#">Ver mas...</a></li>
          </ul>
        </ul>

        <ul class="division">
          <li><a href="#">I</a></li>
          <ul class="submenu">
            <li><a href="#">It</a></li>
            <li><a href="#">Iron man</a></li>
            <li><a href="#">Isla de perros</a></li>
            <li><a href="#">Ver mas...</a></li>
          </ul>
        </ul>

        <ul class="division">
          <li><a href="#">J</a></li>
          <ul class="submenu">
            <li><a href="#">Juegos satanicos</a></li>
            <li><a href="#">Jurassic world</a></li>
            <li><a href="#">John Wick</a></li>
            <li><a href="#">Ver mas...</a></li>
          </ul>
        </ul>

        <ul class="division">
          <li><a href="#">K</a></li>
          <ul class="submenu">
            <li><a href="#">Khumba</a></li>
            <li><a href="#">Kung fu panda</a></li>
            <li><a href="#">Kiss and cry</a></li>
            <li><a href="#">Ver mas...</a></li>
          </ul>
        </ul>

        <ul class="division">
          <li><a href="#">L</a></li>
          <ul class="submenu">
            <li><a href="#">La chica del tren</a></li>
            <li><a href="#">La mula</a></li>
            <li><a href="#">La invasion</a></li>
            <li><a href="#">Ver mas...</a></li>
          </ul>
        </ul>

        <ul class="division">
          <li><a href="#">M</a></li>
          <ul class="submenu">
            <li><a href="#">Mulan</a></li>
            <li><a href="#">Magia extraña</a></li>
            <li><a href="#">Mision imposible</a></li>
            <li><a href="#">Ver mas...</a></li>
          </ul>
        </ul>


        <ul class="division">
          <li><a href="#">N</a></li>
          <ul class="submenu">
            <li><a href="#">Notas perfectas</a></li>
            <li><a href="#">Ni en tus sueños</a></li>
            <li><a href="#">No dormiras</a></li>
            <li><a href="#">Ver mas...</a></li>
          </ul>
        </ul>


        <ul class="division">
          <li><a href="#">O</a></li>
          <ul class="submenu">
            <li><a href="#">Ouija</a></li>
            <li><a href="#">Origenes</a></li>
            <li><a href="#">Orgullo y prejuicio</a></li>
            <li><a href="#">Ver mas...</a></li>
          </ul>
        </ul>

        <ul class="division">
          <li><a href="#">P</a></li>
          <ul class="submenu">
            <li><a href="#">Prisioneros 99</a></li>
            <li><a href="#">Pompeya</a></li>
            <li><a href="#">Prsopect</a></li>
            <li><a href="#">Ver mas...</a></li>
          </ul>
        </ul>

        <ul class="division">
          <li><a href="#">Q</a></li>
          <ul class="submenu">
            <li><a href="#">Quiero matar a mi jefe</a></li>
            <li><a href="#">Quizas es para siempre</a></li>
            <li><a href="#">Querido dictador</a></li>
            <li><a href="#">Ver mas...</a></li>
          </ul>
        </ul>

        <ul class="division">
          <li><a href="#">R</a></li>
          <ul class="submenu">
            <li><a href="#">Resident Evil</a></li>
            <li><a href="#">Redentor</a></li>
            <li><a href="#">Rio</a></li>
            <li><a href="#">Ver mas...</a></li>
          </ul>
        </ul>

        <ul class="division">
          <li><a href="#">S</a></li>
          <ul class="submenu">
            <li><a href="#">Super Policias</a></li>
            <li><a href="#">Si estuvieras aqui</a></li>
            <li><a href="#">Star wars</a></li>
            <li><a href="#">Ver mas...</a></li>
          </ul>
        </ul>

        <ul class="division">
          <li><a href="#">T</a></li>
          <ul class="submenu">
            <li><a href="#">Transformers</a></li>
            <li><a href="#">Ted</a></li>
            <li><a href="#">Togo</a></li>
            <li><a href="#">Ver mas...</a></li>
          </ul>
        </ul>

        <ul class="division">
          <li><a href="#">U</a></li>
          <ul class="submenu">
            <li><a href="#">Una mujer fantastica</a></li>
            <li><a href="#">Unplanned</a></li>
            <li><a href="#">Unidos</a></li>
            <li><a href="#">Ver mas...</a></li>
          </ul>
        </ul>


        <ul class="division">
          <li><a href="#">V</a></li>
          <ul class="submenu">
            <li><a href="#">Vivir de noche</a></li>
            <li><a href="#">Viudas</a></li>
            <li><a href="#">Vacaciones</a></li>
            <li><a href="#">Ver mas...</a></li>
          </ul>
        </ul>


        <ul class="division">
          <li><a href="#">W</a></li>
          <ul class="submenu">
            <li><a href="#">Wolverine</a></li>
            <li><a href="#">Wilson</a></li>
            <li><a href="#">Winter</a></li>
            <li><a href="#">Ver mas...</a></li>
          </ul>
        </ul>

        <ul class="division">
          <li><a href="#">X</a></li>
          <ul class="submenu">
            <li><a href="#">XXX</a></li>
            <li><a href="#">X-men</a></li>
            <li><a href="#">X-men apolcalipsis</a></li>
            <li><a href="#">Ver mas...</a></li>
          </ul>
        </ul>

        <ul class="division">
          <li><a href="#">Y</a></li>
          <ul class="submenu">
            <li><a href="#">Yo soy Simon</a></li>
            <li><a href="#">Ya veremos</a></li>
            <li><a href="#">Yo antes de ti</a></li>
            <li><a href="#">Ver mas...</a></li>
          </ul>
        </ul>

        <ul class="division">
          <li><a href="#">Z</a></li>
          <ul class="submenu">
            <li><a href="#">Zoolander</a></li>
            <li><a href="#">Zoolander 2</a></li>
            <li><a href="#">Zapatero</a></li>
            <li><a href="#">Ver mas...</a></li>
          </ul>
        </ul>

      </div>

      <footer>
        <div class="logo-footer">
          <img src="../img/logotipo/Logo.png" width="200">
        </div>

        <div class="redes-footer">
          <div class="">
            <h2>SÍGUENOS EN REDES SOCIALES</h2>
          </div>

          <a href="#" class="iconos">
            <img src="../img/redes/insta-1.png" width="60" height="60" alt="">
          </a>
          <a href="#" class="iconos">
            <img src="../img/redes/face-6.png" width="60" height="60" alt="">
          </a>
          <a href="#" class="iconos">
            <img src="../img/redes/twitter.svg" width="60" height="60" alt="">
          </a>

        </div>



       <div class="email">
         <h3>CONTÁCTANOS</h3>
          <a href="potreroDigital_proyecto_grupo6_contacto.html">
            <img src="../img/redes/mail-1.png" width="60" height="60" alt="">
          </a>
       </div>
       <h3> 2020 Movie.com- Todos los Derechos Reservados</h3>
      </footer>


  </body>
</html>
